# fundamental alias
alias rm='rm -i'
alias cp='cp -aip'
alias mv='mv -i'
alias ll='ls -l'
alias la='ls -al'

alias vmstat='vmstat -t'
alias relogin='exec $SHELL -l'

# Source local file.
if [[ -s "$HOME/.aliases_local" ]]; then
    source "$HOME/.aliases_local"
fi
