# fundamental alias
alias rm='rm -i'
alias cp='cp -aip'
alias mv='mv -i'
alias ls='ls --color'
alias ll='ls -l'
alias la='ls -al'

alias vmstat='vmstat -t'
alias relogin='exec $SHELL -l'

# ghq

if type ghq 2>&1 > /dev/null; then
    alias g='cd $(ghq root)/$(ghq list | peco)'
    alias gocd='cd ~/go/src/$(find $HOME/go/src -type d -mindepth 3 -maxdepth 3 | grep -v "golang.org" | grep -v "gopkg.in" | sed "s#$(echo $HOME)/go/src/##g" | peco)'
fi


# Source local file.
if [[ -s "$HOME/.aliases_local" ]]; then
    source "$HOME/.aliases_local"
fi
