[user]
	name = RY_2718
	email = ry.3607x5531@gmail.com
[core]
	editor = vim
    excludesfile = ~/.gitignore
[merge]
	tool = vimdiff
[commit]
	template = ~/.gitmessage.txt
[url "git@github.com:"]
    insteadOf = https://github.com/
[url "git@bitbucket.org:"]
    insteadOf = https://bitbucket.org/
